body {
    font-family: sans-serif;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

header {
    background-color: #166088;
    color: white;
    padding: 2em;
}

main {
    font-size: 20px;
    padding: 3em 0;
}

footer {
    background-color: #dbe9ee;
}